VITE_API_URL=/api
VITE_BACKEND_PROXY_TARGET=

VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_RESOLVED=your_emailjs_template_resolved
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
VITE_EMAILJS_TEMPLATE_SUBMITTED=your_emailjs_template_submitted
